<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://robinhoodadmin-uat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>robinhoodadmin-uat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RobinhoodAdmin-UAT</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RobinhoodAdmin-UAT</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=robinhood-uat-server.database.windows.net,1433;Initial Catalog=robinhood-uat-db;User ID=rbh_usr;Password=l0b1n_22_ho0d" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataModel.BookingDBEntities, DataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookingDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/BookingDBModel.csdl|res://*/BookingDBModel.ssdl|res://*/BookingDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=robinhood-uat-server.database.windows.net,1433;Initial Catalog=robinhood-uat-db;User ID=rbh_usr;Password=l0b1n_22_ho0d"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>