<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gogojii.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gogojii.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gogojii</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gogojii</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TGBookingWebDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gogoji.database.windows.net,1433;Initial Catalog=gogojiidb;Persist Security Info=False;User ID=gogojiiadmin;Password=G0g0@789;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:gogoji.database.windows.net,1433;Initial Catalog=gogojiidb;Persist Security Info=False;User ID=gogojiiadmin;Password=G0g0@789;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataModel.TGBookingWebDBEntities, DataModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TGBookingWebDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TGBookingWebDBModel.csdl|res://*/TGBookingWebDBModel.ssdl|res://*/TGBookingWebDBModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:gogoji.database.windows.net,1433;Initial Catalog=gogojiidb;Persist Security Info=False;User ID=gogojiiadmin;Password=G0g0@789;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>