.site-footer {
  background-color: var(--text-color-dark);
  padding: 60px 0;
  .container {
    .row {
      .logo {
        width: 200px;
        text-align: center;
        .logo__image {
        }
        .logo__label {
          color: #ffffff;
          font-size: 12px;
        }
      } //logo
      .links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 60px;
        .col-link {
          ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
              line-height: 30px;
              a {
                color: #ffffff;
                font-weight: 500;
                &:hover {
                  color: var(--primary-color);
                  text-decoration: none;
                }
              }
            }
          }
        }
      } //links

      .social-media {
        .social-media__title {
          color: #ffffff;
          line-height: 24px;
        }
        p {
          margin-bottom: 5px;
        }
        a {
          color: #ffffff;
          margin-right: 8px;
          &:hover {
            color: var(--primary-color);
            text-decoration: none;
          }
        }
      }

      .footer-text {
        hr {
          border-top: 0.5px solid #ffffff;
          opacity: 0.5;
          padding-bottom: 58px;
          margin: 0;
        }
        color: #ffffff;
      }
    } //row
  } //container
} //site-footer
