@media (max-width: 1199px) {
    /*--------------------------------------------------------------
  # Top Menu / Top Nav
  --------------------------------------------------------------*/
    .site-header {
        .navbar {
            padding: 0;
            .container {
                width: 100%;
                max-width: none;
                .navbar-brand {
                    display: none;
                }
                .navbar-toggler {
                    color: var(--text-color-dark);
                    border-color: transparent;
                    height: 60px;
                    outline: none;
                    padding-left: 20px;
                }
                .navbar-toggler[aria-expanded="true"] {
                    background-color: white;
                    color: var(--text-color-dark);
                    border-radius: 0;
                    width: 100%;
                    outline: none;
                    padding-left: 20px;
                    span {
                        float: left;
                    }
                    .logo {
                        display: block !important;
                        margin: 0 auto;
                        img {
                            max-height: 35px;
                        }
                        label {
                            font-size: 8px;
                            line-height: normal;
                            display: block;
                            margin-bottom: 0;
                        }
                    }
                }
                .navbar-collapse {
                    background: white;
                    .nav {
                        display: block;
                        padding: 0 15px;
                        .nav-item {
                            margin-left: 0;
                            padding: 20px 30px;
                            border-bottom: 1px solid #dcdcdc;
                            border-left: none;
                            border-right: none;
                            ;
                            .nav-link {
                                text-align: left;
                                color: black;
                                display: flex;
                                &:hover {
                                    color: var(--primary-color);
                                }
                                .fas,
                                .svg-inline--fa {
                                    margin-left: auto;
                                }
                                .d-none__eng-flag {
                                    display: none;
                                }
                                .rotate {
                                    -moz-transition: all 0.1s linear;
                                    -webkit-transition: all 0.1s linear;
                                    transition: all 0.1s linear;
                                    transform: rotate(270deg);
                                }
                            }
                            .nav-link[aria-expanded="true"] {
                                .rotate {
                                    -webkit-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                }
                            }
                        }
                        .nav-item.nav-item--sign-up {
                            padding: 10px;
                            height: auto;
                            margin-bottom: 20px;
                            max-width: 80%;
                            margin: 20px auto;
                            text-align: center;
                            a {
                                color: white;
                                display: inline;
                            }
                        }
                        .nav-item.dropdown,
                        .nav-item.dropdown.ml-0 {
                            width: 100%;
                            border-right: none;
                            .dropdown-menu.show {
                                border-radius: 0;
                                width: 100%;
                                margin-top: 0;
                                min-width: auto;
                                border: none;
                                box-shadow: none;
                                padding-bottom: 0;
                                margin-left: 30px;
                                .dropdown-item {
                                    padding: 20px 30px;
                                    border-bottom: 1px solid #dcdcdc;
                                    text-align: left;
                                    margin-bottom: -1px;
                                }
                            }
                        }
                        .nav-item.dropdown.show {
                            padding-bottom: 0;
                        }
                        .dropdown.nav-item--logged-in {
                            margin-left: 0;
                        }
                        .dropdown.nav-item--logged-in.mobile-profile.show {
                            padding-bottom: 0;
                        }
                        .dropdown.nav-item--logged-in.mobile-profile {
                            //display: block;
                            .nav-link {
                                display: flex;
                                align-items: center;
                                &:hover {
                                    .points {
                                        .points__logo {
                                            display: none;
                                        }
                                    }
                                } //hover
                                .points {
                                    margin-left: auto;
                                    .points__logo {
                                        display: inline;
                                    }
                                }
                                .nav-item.dropdown.show {
                                    padding-bottom: 0;
                                }
                            }
                        } //dropdownnav
                    } //container
                } //navbar-collapse
            } //container
        } //navbar
        .navbar.fixed-top {
            padding: 0;
            .container {
                .navbar-toggler {
                    color: var(--text-color-dark);
                }
            }
        } //navbar.fixed-top
    } //site-header
} //max-width: 1199
@media (max-width: 992px) {
    section.cities {
        .container {
            .row {
                .col-md-12:nth-of-type(2) {
                    margin-top: 30px;
                }
            }
        }
    }
    .site-footer {
        .container {
            .row {
                .col-md-12 {
                    .logo {
                        margin-bottom: 30px;
                    }
                    .social-media {
                        margin-top: 22px;
                    }
                    .links {
                        grid-template-columns: 1fr 1fr;
                        .col-link {
                            &:nth-of-type(3),
                            &:nth-of-type(4) {
                                margin-top: 22px;
                            }
                        }
                    }
                }
            }
        }
    } //site-footer
} // max-width: 992
@media (max-width: 767px) {
    section.cities {
        .container {
            .row {
                .col-md-12 {
                    .links {
                        grid-template-columns: 1fr 1fr;
                        .col-link:nth-of-type(3),
                        .col-link:nth-of-type(4) {
                            margin-top: 16px;
                        }
                    }
                    &:nth-of-type(2) {
                        margin-top: 30px;
                    }
                }
            }
        }
    } //section.cities
    section.download-app {
        .container {
            .row {
                .col-md-6 {
                    .title {
                        font-weight: normal;
                    }
                    .image-container {
                        float: none;
                        margin-top: 30px;
                        a {
                            img {
                                max-width: 140px;
                            }
                        }
                        a:nth-of-type(2) {
                            img {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    } //download-app
} //max-width: 767px
@media (max-width: 500px) {
    /*--------------------------------------------------------------
  # Top Menu / Top Nav
  --------------------------------------------------------------*/
    .site-header {
        .navbar {
            .container {
                .navbar-collapse {
                    .nav {
                        .nav-item {
                            padding: 20px 10px;
                        }
                    }
                }
            }
        }
    }
} //max-width: 500