@model BackOffice.Models.AccountModel
@{
    Layout = null;
}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Robinhood Flight Booking :: BackOffice</title>

    <!-- Custom fonts for this template-->
    <link href="~/Vendors/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Vendors/sb-admin/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Images/user-avatar.png" type="image/x-icon" />
    <style>
        .bg-gradient-info {
            background-color: #6C248B;
            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#E85AE7),to(#6C248B));
            background-image: linear-gradient(180deg,#E85AE7 10%,#6C248B 100%);
            background-size: cover;
        }

        .card {
            background-color: #e3e6f0;
        }

        .btn-primary {
            color: #fff;
            background-color: #6C248B;
            border-color: #6C248B;
        }
    </style>
</head>

<body class="bg-gradient-info">

    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { data_parsley_validate = "", @class = "form-horizontal form-label-left", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-lg-8 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <img src="~/Images/logo.png" class="mb-4" />
                                            <h3>:: BackOffice System ::</h3>
                                            <span class="asterisk">@ViewBag.ErrorMessage</span>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.username, new { @class = "form-control form-control-user", @placeholder = "Username", required = "required" })
                                            </div>
                                            <div class="form-group">
                                                @Html.PasswordFor(m => m.password, new { @class = "form-control form-control-user", @placeholder = "Password", required = "required" })
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>



                                        </form>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }
    <!-- Bootstrap core JavaScript-->
    <script src="~/Vendors/jquery/jquery.min.js"></script>
    <script src="~/Vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Vendors/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Vendors/sb-admin/sb-admin-2.js"></script>
    



</body>
</html>