@section styles
{
    <link rel='stylesheet' id='gogojistyle-css' href='~/mpgogojii/style.min.css' type='text/css' media='all' />
}
<div id="primary" class="content-area">
    <main id="main" class="site-main page-contact-us" role="main">

        <section class="contact-us">
            <div class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="logo">
                                <img src="~/mpgogojii/assets/icon/logo-white.svg" class="logo__image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3>Have a question in your mind?</h3>
                            <p class="body-text mt-10">Ask our team for a quick response</p>

                            <div class="btn-container">
                                <a href="mailto:mkt@gogojii.com" class="a-email mt-30">mkt@gogojii.com</a>
                            </div>

                            <div class="btn-container--grid mb-40">
                                <div class="btn-default btn--primary">
                                    <a href="javascript:void(0)">
                                        <img src="~/mpgogojii/assets/icon/contact-white.svg" />
                                        +66 92 667 5444
                                    </a>
                                </div>
                            </div>

                            <div class="social">
                                <div class="social__item">
                                    <a target="_blank" href="https://www.facebook.com/GogojiiTravel">
                                        <i class="fab fa-facebook-f fa-2x"></i>
                                    </a>
                                </div>

                                <div class="social__item" style="display:none">
                                    <a target="_blank" href="https://twitter.com/Gogojii1">
                                        <i class="fab fa-twitter fa-2x"></i>
                                    </a>
                                </div>

                                <div class="social__item">
                                    <a target="_blank" href="https://instagram.com/gogojiitravel?igshid=dkxn7t3k33n3">
                                        <i class="fab fa-instagram fa-2x"></i>
                                    </a>
                                </div>

                                <div class="social__item" style="display:none">
                                    <a target="_blank" href="https://www.linkedin.com/in/gogojii">
                                        <i class="fab fa-linkedin fa-2x"></i>
                                    </a>
                                </div>

                                <div class="social__item" style="display:none">
                                    <a target="_blank" href="https://www.youtube.com/channel/UCDLnMb8jJoPbaykVy9TQIuw/featured">
                                        <i class="fab fa-youtube fa-2x"></i>
                                    </a>
                                </div>

                                <div class="social__item">
                                    <a target="_blank" href="https://lin.ee/0ywp8fI">
                                        <i class="fab fa-line fa-2x"></i>
                                    </a>
                                </div>



                            </div><!-- .social -->


                        </div>
                    </div>
                </div>
            </div>



        </section>



    </main>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#mainScreen").removeClass("container");
            $("#mainScreen").addClass("site-content");
        });
    </script>
}



