@{
    string URL = System.Configuration.ConfigurationManager.AppSettings["admin_URL"].ToString();
}
@model TGBookingWeb.Models.AllSearchModel
@section width100head {
    <div style="background-color: #290052; color: #fff; padding-top:10px; padding-bottom:10px">
        <div class="container">
            <h1>Flight</h1>
            @Html.Partial("~/Views/Flight/SearchBox.cshtml", Model.flightSearchM)
        </div>
    </div>
}
