
@section styles
{
    <link rel='stylesheet' id='gogojistyle-css' href='~/mpgogojii/style.min.css' type='text/css' media='all' />

}
<div id="primary" class="content-area">
    <main id="main" class="site-main page-static-content" role="main">

        <section class="static-faqs">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 d-none d-xl-block">
                        @Html.Partial("~/Views/Home/LeftMenuContent.cshtml")
                    </div>

                    <div class="col-xl-9 col-lg-12">
                        @if (Localize.GetLang() == "th")
                        {
                            <div class="header-title">
                                <h3>นโยบายความเป็นส่วนตัวของโกโกจิ</h3>
                                <p></p>
                            </div>

                            <div class="static-content-card static-container mt-30 mb-10">

                                <p class='title title--primary  mb-10'>วันที่มีผลบังคับใช้ มกราคม 2563</p><p class='body-text mb-25 pre-line '>
    เพื่อให้คุณได้รับประสบการณ์ที่ดีที่สุดเมื่อใช้ระบบของเรา เราอาจรวบรวม ใช้ เปิดเผย ประมวลผล และปกป้องข้อมูลส่วนบุคคลของคุณ ระบบของเราเป็นเจ้าของและดำเนินการโดย โกโกจิ โดย โกโกจิ คอร์ปอเรชั่น จำกัด (“โกโกจิ โคแมนชี่ โกโกจิ”
    “พวกเรา” “เรา” หรือ “ของพวกเรา”)

    เราเชื่อว่าคุณควรได้รับแจ้งเกี่ยวกับประเภทของข้อมูลส่วนบุคคลที่เรารวบรวม และวิธีที่เราใช้ในระบบของเรา ทั้งผ่านเว็บไซต์และ /หรือแอปของเรา (“เว็บไซต์”) โดยการอ่านนโยบายความเป็นส่วนตัวนี้ คุณสามารถตัดสินใจได้ดีที่สุดเกี่ยวกับข้อมูลส่วนบุคคลที่คุณแบ่งปันกับเรา ข้อมูลส่วนบุคคลในที่นี้หมายถึงข้อมูลใด ๆ ที่เกี่ยวข้องกับบุคคลธรรมดาที่ระบุหรือสามารถระบุตัวตนได้ (“ข้อมูลส่วนบุคคล”) โดยการลงทะเบียนและ/หรือใช้เว็บไซต์นี้ คุณรับทราบว่าคุณได้อ่านนโยบายความเป็นส่วนตัวและข้อกำหนดการใช้งานโกโกจิและเข้าใจเนื้อหาและผลที่ตามมา และคุณตกลงและยินยอมให้เราเก็บ รวบรวม ใช้ เปิดเผย และประมวลผล ข้อมูลส่วนบุคคลของคุณตามนโยบายความเป็นส่วนตัวและ/หรือข้อกำหนดการใช้งาน นอกจากนี้ คุณรับทราบว่าข้อมูลส่วนบุคคลทั้งหมดที่คุณให้หรือจะให้นั้นเป็นความจริงและถูกต้องและเป็นของคุณแต่เพียงผู้เดียว

    ในบางครั้ง โกโกจิ โคแมนชี่ โกโกจิ อาจแก้ไขนโยบายความเป็นส่วนตัวนี้ เพื่อแสดงถึงการเปลี่ยนแปลงในกฎหมายและข้อบังคับ วิธีการปฏิบัติของเรา คุณลักษณะของเว็บไซต์และ/หรือความก้าวหน้าทางเทคโนโลยี หากการแก้ไขใด ๆ เปลี่ยนแปลงวิธีที่เรารวบรวมและ/หรือใช้ข้อมูลส่วนบุคคลของคุณ การเปลี่ยนแปลงเหล่านั้นจะถูกเผยแพร่ไว้ในนโยบายความเป็นส่วนตัวนี้ และวันที่มีผลบังคับใช้จะปรากฏที่จุดเริ่มต้นของนโยบายความเป็นส่วนตัวนี้ ดังนั้นคุณควรทบทวนนโยบายความเป็นส่วนตัวนี้เป็นระยะเพื่อให้คุณได้รับข้อมูลล่าสุดเกี่ยวกับนโยบายและแนวทางปฏิบัติล่าสุดของเรา หากคุณไม่เห็นด้วยกับการเปลี่ยนแปลงหรือแก้ไขนโยบายความเป็นส่วนตัวใด ๆ โปรดอย่าใช้งานเว็บไซต์ต่อไป เราจะถือว่าคุณยินยอมให้มีการปรับเปลี่ยนนโยบายความเป็นส่วนตัวใด ๆ เมื่อคุณใช้งานเว็บไซต์หลังจากวันที่การแก้ไขมีผลบังคับใช้
</p><p class='title title--primary  mb-10'>นโยบายความเป็นส่วนตัวฉบับนี้อธิบายเกี่ยวกับสิ่งต่อไปนี้:</p><p class='body-text mb-25 pre-line '>
    • ข้อมูลที่เรารวบรวม
    • เราใช้ข้อมูลของคุณอย่างไร
    • การแบ่งปันและการถ่ายโอนข้อมูลส่วนบุคคลของคุณ
    • การเข้าถึงหรือแก้ไขข้อมูลส่วนบุคคลของคุณ
    • การถอนความยินยอม
    • การลบข้อมูลส่วนบุคคลของคุณ
    • การเก็บรักษาข้อมูลส่วนบุคคล
    • การปกป้องข้อมูลส่วนบุคคลของคุณ
    • การเชื่อมโยงไปยังเว็บไซต์อื่น
    • การลงทะเบียนและการเป็นสมาชิก
    • เบ็ดเตล็ด
    • การติดต่อของเรา
</p><p class='title title--primary  mb-10'>ข้อมูลที่เรารวบรวม</p><p class='body-text mb-25 pre-line '>
    ตามความยินยอมของคุณ เราอาจรวบรวมข้อมูลส่วนบุคคลของคุณเพื่อให้บริการของเราแก่คุณเมื่อใช้งานเว็บไซต์ นอกจากนี้เรายังสามารถรวบรวมข้อมูลส่วนบุคคลด้วยเหตุผลอื่น ๆ ตามที่ระบุไว้เพิ่มเติมในนโยบายความเป็นส่วนตัว ข้อมูลส่วนบุคคลประกอบด้วยข้อมูลด้านล่างนี้:

    1.       ข้อมูลส่วนบุคคลพื้นฐาน

    เมื่อคุณใช้เว็บไซต์ของเรา เราอาจขอให้คุณลงทะเบียนสำหรับบัญชีเพื่อดำเนินการจองของคุณ ข้อมูลส่วนบุคคลที่รวบรวมจะรวมถึง แต่ไม่จำกัดเพียง ชื่อของคุณ การระบุผู้ใช้งานโกโกจิ และข้อมูลรับรองการเข้าสู่ระบบ ที่อยู่อีเมล และหมายเลขโทรศัพท์

    2.       ข้อมูลส่วนบุคคลที่เฉพาะเจาะจง

    เราอาจรวบรวมข้อมูลส่วนบุคคลของคุณตามประสบการณ์ของคุณในการใช้เว็บไซต์ของเรา ตัวอย่างเช่น รายละเอียดการจองโรงแรมของคุณ (เช่น ชื่อโรงแรม ที่ตั้งโรงแรม และ/หรือระยะเวลาการเข้าพัก) การตั้งค่าการเดินทางของคุณ และรายละเอียดการเป็นสมาชิกของสายการบินของคุณ ตลอดจนบทวิจารณ์ของคุณ นอกจากนี้ เราอาจรวบรวมข้อมูลบางอย่างจากคุณเมื่อคุณใช้เว็บไซต์ของเรา เช่น ตำแหน่งทางภูมิศาสตร์ ที่อยู่ อินเทอร์เน็ตโปรโตคอล (“ไอพี”) ค่ากำหนดการค้นหา ตลอดจนข้อมูลอื่น ๆ ที่เกี่ยวข้องกับการใช้อินเทอร์เน็ตทั่วไป

    3.       ที่ตั้งทางภูมิศาสตร์

    เมื่อคุณยินยอม เราอาจรวบรวมข้อมูลส่วนบุคคลของคุณเกี่ยวกับตำแหน่งที่แท้จริงของคุณ เพื่อให้ข้อเสนอแก่คุณในตำแหน่งที่เกี่ยวข้องตามที่ระบุไว้ในเว็บไซต์ของเรา เราอาจได้รับตำแหน่งโดยประมาณของคุณจากที่อยู่ไอพี และ จีพีเอส ของคุณ

    4.       ข้อมูลบันทึก

    เมื่อใดก็ตามที่คุณใช้เว็บไซต์ของเรา เราอาจรวบรวมข้อมูลของคุณซึ่งเบราว์เซอร์ของคุณส่งไป (“ข้อมูลบันทึก”) ข้อมูลบันทึกอาจยังถูกเก็บรวบรวมแม้ว่าคุณจะไม่ได้สร้างบัญชีใด ๆ ในเว็บไซต์ของเรา ข้อมูลบันทึกนี้อาจรวมถึงที่อยู่ไอพี ประเภทเบราว์เซอร์ระบบปฏิบัติการ สัญชาติ ตำแหน่งหน้าที่เยี่ยมชม ผู้ให้บริการมือถือ ข้อมูลอุปกรณ์ และประวัติการค้นหา ตลอดจนข้อมูลทั่วไป
    อื่น ๆ ที่เกี่ยวข้องกับการใช้อินเทอร์เน็ต เราใช้ข้อมูลบันทึกเพื่อให้ผู้ใช้ของเราได้รับประสบการณ์ที่ดีขึ้นในการใช้เว็บไซต์ของเรา

    5.       คุกกี้และเทคโนโลยีที่คล้ายคลึงกัน

    เราอาจใช้คุกกี้และ/หรือเทคโนโลยีที่คล้ายคลึงกัน (เช่น เว็บบีคอน แท็ก สคริปต์) คุกกี้คือไฟล์ที่มีข้อมูลจำนวนน้อยซึ่งอาจรวมถึงตัวระบุเฉพาะที่ไม่ระบุชื่อ คุกกี้จะถูกส่งไปยังเบราว์เซอร์ของคุณจากเว็บไซต์และจัดเก็บไว้ในฮาร์ดไดรฟ์ของคอมพิวเตอร์หรืออุปกรณ์เคลื่อนที่ของคุณเพื่อช่วยให้เราติดตามคุณ เช่นเดียวกับเว็บไซต์อื่น ๆ เราอาจใช้คุกกี้เพื่อให้คุณได้รับประสบการณ์ที่ดีขึ้น ดังนั้นคอมพิวเตอร์และ/หรืออุปกรณ์มือถือของคุณจะจดจำคุณได้เมื่อคุณใช้ไซต์ของเราในครั้งถัดไป โปรดปิดการใช้งานตัวเลือกคุกกี้หากคุณต้องการให้เราหยุดคุณลักษณะคุกกี้
</p><p class='title title--primary  mb-10'>เราใช้ข้อมูลของคุณอย่างไร</p><p class='body-text mb-25 pre-line '>
    นอกจากนี้เราอาจรวบรวม ดูแล และจัดเก็บข้อมูลของคุณ เพื่อเสนอแพ็คเกจที่ดีที่สุดที่เหมาะสมกับความต้องการของคุณ นอกจากนี้เรายังอาจใช้ข้อมูลของคุณที่รวบรวมผ่านเว็บไซต์เพื่อวัตถุประสงค์ดังต่อไปนี้:

    การลงทะเบียนการใช้งานและ/หรือการเข้าถึงไซต์ของคุณ

    การจัดการ การดำเนินการ การดูแลและ/หรือการเข้าถึงไซต์

    การติดต่อคุณในเรื่องที่เกี่ยวข้องกับการใช้งานและ/หรือการเข้าถึงเว็บไซต์และการจัดการข้อสงสัยและ/หรือคำขอที่คุณส่งผ่านเว็บไซต์

    การปรับแต่งประสบการณ์ของคุณเมื่อใช้เว็บไซต์ และการปรับปรุงประสบการณ์และความพึงพอใจของลูกค้า

    การเผยแพร่บทวิจารณ์ของคุณเกี่ยวกับบริการของเรา ตลอดจนผลิตภัณฑ์ที่ระบุไว้บนเว็บไซต์ของเรา

    การบังคับใช้บทบัญญัติในข้อกำหนดและเงื่อนไขของเรา

    การแก้ไขข้อพิพาท รวบรวม การชำระเงินที่ค้างชำระ และการแก้ไขปัญหาและ / หรือ

    วัตถุประสงค์อื่น ๆ ที่จะให้คุณใช้งานได้ ณ จุดรับบริการ

    นอกจากนี้ เรายังอาจใช้ข้อมูลส่วนบุคคลของคุณและข้อมูลอื่น ๆ ที่เก็บรวบรวมสำหรับการตลาดดิจิทัล (รวมถึงแต่ไม่จำกัดเพียงโซเชียลมีเดีย โฆษณาแบบดิสเพลย์ การปรับแต่งเว็บไซต์ให้ติดอันดับบนเครื่องมือการค้นหา (“เอสอีโอ”) การตลาดผ่านเครื่องมือค้นหา (“เอสอีเอ็ม”) และการแจ้งเตือนแบบพุชโดยใช้เทคกราฟแบบเปิด) และการตลาดแบบเดิม (รวมถึงแต่ไม่จำกัดเพียง การส่งอีเมลถึงคุณเกี่ยวกับผลิตภัณฑ์ใหม่ ข้อเสนอพิเศษ และแบบสำรวจหรือข้อมูลอื่น ๆ ที่เราเห็นว่าน่าสนใจสำหรับคุณ)

    โปรดทราบว่าคุณสามารถเลือกที่จะไม่ใช้เอกสารทางการตลาดใด ๆ ที่เราส่งถึงคุณ โดยทำตามคำแนะนำในการยกเลิกการสมัครที่ระบุไว้ในเอกสารทางการตลาดของเรา อย่างไรก็ตาม โปรดทราบว่าเราอาจกำหนดเป้าหมายและปรับเปลี่ยนการสื่อสารทางการตลาดของเรา คำแนะนำในการซื้อ และการติดต่ออื่น ๆ ที่เราแสดงบนเว็บไซต์และแอปพลิเคชันของเรา โดยพิจารณาจากข้อมูลรวมที่เรารวบรวมเกี่ยวกับคุณ
</p><p class='title title--primary  mb-10'>การแบ่งปันข้อมูลส่วนบุคคลของคุณ</p><p class='body-text mb-25 pre-line '>
    ข้อมูลส่วนบุคคลของคุณอาจถูกแบ่งปันไปยัง บริษัท องค์กร และ/หรือบุคคลอื่น (“บุคคลที่สาม”) เพื่อให้บริการที่เรามอบให้กับคุณ เราอาจมีส่วนร่วมกับบุคคลที่สามเพื่อรับบริการของพวกเขา ซึ่งรวมถึงแต่ไม่จำกัดเพียง การโฮสต์เว็บไซต์ การวิเคราะห์ข้อมูล การตลาด โปรโมชัน การประมวลผลธุรกรรมบัตรเครดิต และบริการอื่น ๆ ที่เกี่ยวข้อง

    โกโกจิ โคแมนชี่ โกโกจิ และ / หรือบุคคลที่สาม อาจต้องถ่ายโอนข้อมูลส่วนบุคคลของคุณไปต่างประเทศ ทั้งนี้ ขึ้นอยู่กับสถานที่ตั้งของคุณ

    โปรดทราบว่า โกโกจิ โคแมนชี่ โกโกจิ อาจเปิดเผยข้อมูลส่วนบุคคลของคุณตามเงื่อนไขต่อไปนี้:

    1.       ความยินยอม

    เราจะแบ่งปันข้อมูลส่วนบุคคลของคุณกับบุคคลที่สามก็ต่อเมื่อเราได้รับความยินยอมจากคุณให้ทำเช่นนั้น คุณรับทราบและยอมรับว่าการใช้บริการของเราต่อไปถือเป็นการยินยอมดังกล่าว และการแบ่งปันข้อมูลส่วนบุคคลของคุณจะอยู่ภายใต้นโยบายความเป็นส่วนตัวนี้

    2.       การเปิดเผยต่อผู้ซื้อ

    สิ่งนี้เกี่ยวข้องกับการขาย การมอบหมาย หรือการโอนธุรกิจหรือบริษัทของเราทั้งหมดหรือบางส่วน ในกรณีเช่นนี้ โกโกจิ โคแมนชี่ โกโกจิ อาจเปิดเผยข้อมูลส่วนบุคคลของคุณแก่ผู้ซื้อโดยไม่ได้รับความยินยอมล่วงหน้าจากคุณ

    3.       วัตถุประสงค์ด้านกฎระเบียบ

    ตามดุลยพินิจของเรา เราอาจแบ่งปันข้อมูลส่วนบุคคลของคุณกับบุคคลที่สาม หากเห็นว่าจำเป็นต้องมีการแบ่งปันข้อมูลเพื่อ ก) ปฏิบัติตามกฎหมายและข้อบังคับที่เกี่ยวข้อง ข) บังคับใช้ข้อกำหนดและเงื่อนไขของเรา ค) ตรวจสอบการฉ้อโกงหรือการกระทำที่ผิดกฎหมายที่อาจเกิดขึ้น และ / หรือ ง) ปกป้องแบรนด์ ชื่อเสียงของเรา ตลอดจนทรัพย์สินของเรา
</p><p class='title title--primary  mb-10'>การเข้าถึงหรือแก้ไขข้อมูลส่วนบุคคลของคุณ</p>
    <p class='body-text mb-25 pre-line '>
        เมื่อคุณให้ข้อมูลส่วนบุคคลของคุณกับเรา โปรดตรวจสอบให้แน่ใจว่าข้อมูลนั้นถูกต้องและสมบูรณ์ หากคุณเชื่อว่าข้อมูลใด ๆ ของคุณภายใต้การครอบครองของเรามีข้อผิดพลาดหรือการละเว้น โปรดลงชื่อเข้าใช้บัญชีของคุณบนเว็บไซต์และแก้ไขข้อมูล นอกจากนี้ โปรดอัปเดตข้อมูลส่วนบุคคลของคุณผ่านบัญชีของคุณในเวลาที่เหมาะสมหากมีการเปลี่ยนแปลงใด ๆ หากคุณต้องการแก้ไขข้อผิดพลาดหรือการละเว้นในข้อมูลส่วนบุคคลใด ๆ ที่อยู่ภายใต้การครอบครองของเรา ซึ่งไม่สามารถแก้ไขได้ผ่านเว็บไซต์ของเรา หรือเพื่อเข้าถึงข้อมูลส่วนบุคคลของคุณภายใต้การครอบครองหรือการควบคุมของเราหรือตามที่กฎหมายกำหนด โปรดส่งคำขอของคุณไปยังรายละเอียดการติดต่อที่ระบุไว้ในที่นี้
    </p>
    <p class='title title--primary  mb-10'>การถอนความยินยอม</p>
    <p class='body-text mb-25 pre-line '>
        คุณสามารถเพิกถอนความยินยอมในการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณ โดยแจ้งให้เราทราบอย่างสมเหตุสมผล หากคุณต้องการเพิกถอนความยินยอม โปรดแจ้งให้เราทราบตามรายละเอียดการติดต่อที่ระบุไว้ด้านล่าง ตามคำขอของคุณ เราจะหยุดรวบรวมใช้หรือเปิดเผยข้อมูลส่วนบุคคลของคุณ เว้นแต่กฎหมายกำหนดหรือหากเรามีวัตถุประสงค์ทางธุรกิจที่ถูกต้องหรือตามกฎหมายในการเก็บรักษาข้อมูลดังกล่าว โปรดทราบว่าโดยการเพิกถอนความยินยอมของคุณในการเก็บรวบรวมการใช้หรือการเปิดเผยข้อมูลส่วนบุคคลของคุณ เราอาจไม่สามารถให้บริการของเราต่อไปได้ และคุณตกลงว่าเราจะไม่รับผิดชอบต่อความสูญเสียหรือความเสียหายใด ๆ ที่เกิดขึ้นจาก/หรือเกี่ยวกับการยุติบริการดังกล่าว
    </p>
    <p class='title title--primary  mb-10'>การลบข้อมูลส่วนบุคคลของคุณ</p>
    <p class='body-text mb-25 pre-line '>
        คุณอาจมีสิทธิ์ขอให้ลบข้อมูลส่วนบุคคลของคุณที่เรารวบรวมและประมวลผลโดยแจ้งเหตุผลที่สมเหตุสมผล หากคุณต้องการลบข้อมูลของคุณคุณควรแจ้งให้เราทราบตามรายละเอียดการติดต่อของเราที่ระบุไว้ในที่นี้

        ตามคำขอของคุณ เราจะพยายามลบข้อมูลส่วนบุคคลของคุณในระบบของเรา นอกจากนี้เราจะหยุดรวบรวมใช้หรือเปิดเผยข้อมูลส่วนบุคคลของคุณเว้นแต่กฎหมายกำหนด หรือหากเรามีวัตถุประสงค์ทางธุรกิจหรือกฎหมายที่ถูกต้องในการเก็บรักษาข้อมูลดังกล่าว โปรดทราบว่าการขอให้เราลบข้อมูลส่วนบุคคลของคุณ เราอาจไม่สามารถให้บริการของเราต่อไปได้ และคุณตกลงว่าเราจะไม่รับผิดชอบต่อความสูญเสียหรือความเสียหายใด ๆ ที่เกิดขึ้นจากหรือเกี่ยวข้องกับการยุติบริการดังกล่าว
    </p>
    <p class='title title--primary  mb-10'>การเก็บรักษาข้อมูลส่วนบุคคลของคุณ</p>
    <p class='body-text mb-25 pre-line '>
        ข้อมูลส่วนบุคคลของคุณจะถูกเก็บไว้ตราบเท่าที่บัญชีของคุณและความต้องการของเราในการให้บริการแก่คุณยังคงมีอยู่ เราจะยุติการเก็บรักษาข้อมูลส่วนบุคคลและใช้ความพยายามอย่างสมเหตุสมผลในการลบข้อมูลส่วนบุคคลของคุณที่รวบรวมโดยเร็วที่สุด โดยที่ 1) วัตถุประสงค์ในการเก็บรวบรวมข้อมูลส่วนบุคคลจะไม่ถูกให้บริการโดยการเก็บรักษาข้อมูลอีกต่อไป และ 2) กฎหมายที่บังคับใช้ระบุว่าไม่จำเป็น และ/หรือไม่จำเป็นสำหรับวัตถุประสงค์ทางธุรกิจ
    </p>
    <p class='title title--primary  mb-10'> การปกป้องข้อมูลส่วนบุคคลของคุณ</p>
    <p class='body-text mb-25 pre-line '>
        เราจะปกป้องข้อมูลส่วนบุคคลของคุณด้วยการรักษาความปลอดภัยที่เหมาะสม รวมถึงขั้นตอนทางกายภาพทางเทคนิคและขององค์กรเพื่อป้องกันการเข้าถึง การรวบรวม การใช้ การเปิดเผย การคัดลอก การดัดแปลง การกำจัด หรือความเสี่ยงที่คล้ายคลึงกันโดยไม่ได้รับอนุญาต หากมีการละเมิดข้อมูลส่วนบุคคลเราจะแจ้งให้คุณทราบผ่านช่องทางของเราไม่ว่าทางตรงหรือทางอ้อม เพื่อให้ข้อมูลที่เพียงพอเกี่ยวกับการละเมิดข้อมูลส่วนบุคคลดังกล่าว หลังจากการแจ้งเตือนเราจะพยายามอย่างเต็มที่เพื่อกู้คืนความปลอดภัยของข้อมูลส่วนบุคคลของคุณในเว็บไซต์ของเรา
    </p>
    <p class='title title--primary  mb-10'>การเชื่อมโยงไปยังเว็บไซต์อื่น ๆ</p>
    <p class='body-text mb-25 pre-line '>
        เว็บไซต์ของเราอาจมีลิงก์ไปยังเว็บไซต์อื่นที่น่าสนใจ อย่างไรก็ตามเมื่อคุณใช้ลิงก์เหล่านี้เพื่อออกจากไซต์ของเรา คุณควรทราบว่าเราไม่สามารถควบคุมเว็บไซต์อื่น ๆ ได้ โปรดทราบว่าเราไม่รับผิดชอบต่อนโยบายความเป็นส่วนตัวหรือแนวปฏิบัติของเว็บไซต์อื่น ๆ ดังกล่าว ดังนั้น ขอแนะนำให้คุณอ่านนโยบายความเป็นส่วนตัวของแต่ละเว็บไซต์ที่คุณเยี่ยมชม ซึ่งรวบรวมข้อมูลส่วนบุคคลของคุณ
    </p>
    <p class='title title--primary  mb-10'>การลงทะเบียนและการเป็นสมาชิก</p>
    <p class='body-text mb-25 pre-line '>
        เว็บไซต์นี้ช่วยให้คุณสามารถสร้างบัญชีผู้ใช้ตามข้อมูลที่คุณให้มา โดยการให้ข้อมูลลงทะเบียนและสร้างบัญชีของคุณ คุณรับประกันว่าข้อมูลที่คุณให้มานั้นเป็นความจริงและถูกต้องเป็นปัจจุบันและครบถ้วนตามที่กำหนดในแบบฟอร์มการลงทะเบียนบนเว็บไซต์ (“ข้อมูลการลงทะเบียน”) และคุณจะอัปเดตข้อมูลการลงทะเบียนนี้เพื่อให้เป็นจริงถูกต้องและสมบูรณ์
    </p>
    <p class='title title--primary  mb-10'>เบ็ดเตล็ด</p>
    <p class='body-text mb-25 pre-line '>
        ในกรณีที่ข้อกำหนดและเงื่อนไขในการให้บริการและนโยบายความเป็นส่วนตัวนี้ไม่สอดคล้องกัน ข้อกำหนดในนโยบายความเป็นส่วนตัวนี้จะมีผลเหนือกว่าและมีผลบังคับใช้

        ในกรณีที่มีการเปลี่ยนแปลงการควบคุมหรือความเป็นเจ้าของในธุรกิจหรือกลุ่มบริษัท ของ โกโกจิ โคแมนชี่ โกโกจิ ข้อมูลส่วนบุคคลที่เก็บรวบรวมในเว็บไซต์อาจเป็นส่วนหนึ่งของการถ่ายโอนทรัพย์สิน
    </p>
    <p class='title title--primary  mb-10'> ติดต่อเรา</p>
    <p class='body-text mb-25 pre-line '>
        หากคุณมีคำถามหรือคำขอใด ๆ เกี่ยวกับนโยบายความเป็นส่วนตัวนี้ โปรดติดต่อเราตามที่อยู่ดังต่อไปนี้:
        โกโกจิ บริษัท โคแมนชี่ โกโกจิ จำกัด

        99/100 ซอยงามวงศ์วาน 26 แยก 3 (พงษ์เพชรพัฒนา 2) แขวงทุ่งสองห้อง  เขตหลักสี่  กทม. 10210

        โทรศัพท์: โทรศัพท์พื้นฐาน 02 539 9935

        โทรศัพท์เคลื่อนที่  092 667 5444
        อีเมล: <a href="mailto:mkt@gogojii.com">mkt@gogojii.com</a>
    </p>
                            </div><!-- .static-content-card -->
                        }
                        else
                        {
                            <div class="header-title">
                                <h3>gogojii privacy policy</h3>
                                <p></p>
                            </div>

                            <div class="static-content-card static-container mt-30 mb-10">

                                <p class='title title--primary  mb-10'>Updated as of 1 January 2020</p><p class='body-text mb-25 pre-line '>
    In order to provide you with the best experience when using our system, we may collect, use, disclose, process and protect your personal identifiable information or personal data. Our system is owned and operated by Comanche Gogoji Co., Ltd. ("Comanche Gogoji Co., Ltd. ", "us", "we", or "our").

    We believe you should be informed about what kind of personal data we collect and how we use it in our system, both through our website and/or app (the "Site"). By reading this Privacy Policy, you can always make the best decision about the personal data that you share with us. Personal data here refers to any information which are related to an identified or identifiable natural person ("Personal Data"). By registering to and/ or using the Site, you acknowledge that you have read this Privacy Policy and the GOGOJII Terms of Use and understand their content and consequences, and you agree and give consent to Us for the collection, use, disclosure and processing of your Personal Data in accordance with this Privacy Policy and/or the Terms of Use. Further, you acknowledge that every Personal Data that you have provided or will provide is yours to share and is true and accurate.

    From time to time, GOGOJII may revise this Privacy Policy to reflect changes in the laws and regulations, our use practices, the features of our Site and/or advances in technology. If we make revisions that change the way we collector use your Personal Data, those changes will be posted in this Privacy Policy and the effective date will be noted at the beginning of this Privacy Policy. Therefore, you should review this Privacy Policy periodically so that you are up to date on our most current policies and practices. If you do not agree with any changes or modifications to the Privacy Policy, please do not continue using the Site. You will be deemed to have consented to any modification of the Privacy Policy when you use the Site after the effective date of the modification.
</p><p class='title title--primary  mb-10'>This Privacy Policy explains about:</p><p class='body-text mb-25 pre-line '>
                                    • Information We Collect
                                    • How We Use Your Information
                                    • Sharing and Transferring of Your Personal Data
                                    • Access to or Correction of Your Personal Data
                                    • Withdrawing Consent
                                    • Removal of Your Personal Data
                                    • Retention of Personal Data
                                    • Protection of Your Personal Data
                                    • Links to Other Websites
                                    • Registration and Membership
                                    • Miscellaneous
                                    • Our Contact
                                </p><p class='title title--primary  mb-10'>Information We Collect</p><p class='body-text mb-25 pre-line '>
                                    Following your consent, we may collect your Personal Data to provide our services to you when using the Site. In addition, we can also collect the Personal Data for other reasons as provided further in the Privacy Policy. The Personal Data consist of the information as seen below.

                                    1. Basic personal information:
                                    when you are using our Site, we may request you to make an account in order to proceed your bookings. The Personal Data collected will include, but not limited to, your name, GOGOJII user identification and login credentials, email address and phone number.

                                    2. Specific personal information:
                                    we may collect your Personal Data based on your experiences in using our Site, for example: details of your hotel bookings (such as hotel name, hotel location and/or length of stay), your travel preferences, details of your airline frequent flyer membership as well as your reviews. We may also collect certain information from you when you are using our Site, such as geographic location, IP address, search preferences as well as other general Internet usage related data.

                                    3. Geographic location:
                                    upon your consent, we may collect your Personal Data about your actual location to provide you with the offers in the relevant location as provided in our Site. We may also derive your approximate location from your IP address and GPS.

                                    4. Log Information:
                                    when you are using our Site, we may collect your data which we refer as a "log information". The log information may still be collected even though you do not make any account in our Site. This log information may include IP address, browser type, operating system, nationality, pages visited location, your mobile carrier, device information and search history as well as other generic internet usage related information. We use the log information to provide our users with the better experience using our Site.

                                    5. Cookies and similar technologies:
                                    we may use cookies and/ or similar technologies (such as web beacons, tags, scripts). Cookies is a small piece of data that is stored in your computer or mobile device to help us track you. Like other websites, we may use cookies to give you better experience, so your computer and/or your mobile device will recognize you when you use our Site onwards. Please deactivate the cookies option, if you wish us to stop the cookies feature.
                                </p><p class='title title--primary  mb-10'>How We Use Your Information</p><p class='body-text mb-25 pre-line '>
                                    We may also collect, maintain and store your information to offer you the best packages that will be suitable with your preferences. In addition, we may also use your information as collected through the Site for the following purposes:
                                    1. registering your use and/or access of the Site;
                                    2. managing, operating, administering and/or access of the Site;
                                    3. contacting you on the matters relating to your use and/or access to the Site and managing the queries and/or requests submitted by you through the Site;
                                    4. customizing your experience when using the Site, and improving your customer experience and satisfaction;
                                    5. publishing your reviews about our services as well as the listed products on our Site;
                                    6. enforcing the provisions in our Terms and Conditions;
                                    7. resolving disputes, collecting outstanding payment and troubleshooting and/or;
                                    for the purposes otherwise that will be made available to you at the point of collection.

                                    We may also use your Personal Data and other information collected for digital marketing which includes, however is not limited to social media, display advertisement, Search Engine Optimization ("SEO"), Search Engine Marketing ("SEM"), push notification using open graph techniques and conventional marketing purposes which includes however is not limited to sending you email(s) about new products, special offers, and surveys or other information which we think you may find interesting.

                                    Please note that you may opt out of any marketing materials we may send to you by following the unsubscribe instructions set out in our marketing materials if you choose to opt out of any marketing materials and we will respect your wishes. However, please note that we may target and personalise our marketing communications, purchase recommendations and other contacts that we display on our website and application based on the combined data we have collected about you.
                                </p><p class='title title--primary  mb-10'>Sharing of Your Personal Data</p><p class='body-text mb-25 pre-line '>
                                    Your Personal Data may be shared to other companies, organizations and/or individuals (the "Third Party") for completing the service we provide to you. We may engage the Third Parties for obtaining their services which include, however are not limited to website hosting, data analysis, marketing, promotions, processing credit card transactions and other relevant services. Depending on your location, GOGOJII and the Third Party may also be transferring your Personal Data overseas.

                                    Please note that GOGOJII may disclose your Personal Data pursuant to the following conditions:

                                    1. Consent
                                    We will only share your Personal Data with the Third Parties when we have your consent to do so. You acknowledge that your continued use of our Services will constitute your consent and that the sharing of your personal data will be subject to this Privacy Policy.

                                    2. To Purchasers
                                    This is in connection with any sale, assignment, or other transfer of all or part of our business or company.

                                    3. For Legal Reasons
                                    Based on our discretion, we may share your Personal Data with the Third Parties if we deem the share of data is necessary to: i) comply with the applicable laws and regulations; ii) enforce our Terms and Conditions; iii) investigate any potential fraud or illegal acts; and/ or iv) protect our brand, our reputation as well as our property.
                                </p><p class='title title--primary  mb-10'>Access to or Correction of Your Personal Data</p><p class='body-text mb-25 pre-line '>When you provide us with your Personal Data, please ensure that it is accurate and complete. If you believe that any of your information under our possession contains errors or omissions, please log into your account on the Site and correct the information. In addition, please update your Personal Data through your account in a timely manner, should there be any changes. If you wish to correct an error or omission in any Personal Data under our possession that cannot be corrected via our Site, or to access your Personal Data under our possession or control, or as provided for by applicable laws, please submit your request to our contact details listed below.</p><p class='title title--primary  mb-10'>Withdrawing Consent</p><p class='body-text mb-25 pre-line '>You may withdraw your consent to our collection, use or disclosure of your Personal Data, by giving us a reasonable notice. If you wish to withdraw your consent, please inform us at our contact details listed below. Upon your request, we will cease to collect, use or disclose your Personal Data, unless required by law or if we have legitimate business or legal purposes for retaining such data. Note that by withdrawing your consent to our collection, use or disclosure of your Personal Data, we may not be able to continue providing you with our services and you agree that we will not be liable to you for any losses or damages arising out of or in relation to such termination of services.</p><p class='title title--primary  mb-10'>Removal of Your Personal Data</p><p class='body-text mb-25 pre-line '>You may have the right to ask your Personal Data collected and processed by us to be removed, by giving us a reasonable reason. If you wish to remove your data, you should inform us at our contact details listed below. Upon your request, we will strive to remove your Personal Data in our system. We will also cease to collect, use or disclose your personal data, unless required by law or if we have legitimate business or legal purposes for retaining such data. Note that by requesting us to remove your Personal Data, we may not be able to continue providing you with our services and you agree that we will not be liable to you for any losses or damages arising out of or in relation to such termination of services.</p><p class='title title--primary  mb-10'>Retention of Your Personal Data</p><p class='body-text mb-25 pre-line '>Your Personal Data will be retained for as long as your account is still inexistence and as needed to provide you with our services. We shall cease to retain Personal Data, or with reasonable effort to remove the means by which the Personal Data can be associated with You as an individual, as soon as, 1) the purpose for which Personal Data was collected is no longer being served by the retention of data; and 2) it is not required by the applicable laws and/ or not necessary for business purposes.</p><p class='title title--primary  mb-10'>Protection of Your Personal Data</p><p class='body-text mb-25 pre-line '>We will protect your Personal Data by maintaining reasonable security arrangements, including physical, technical and organizational procedures, to prevent unauthorized access, collection, use, disclosure, copying, modification, disposal or similar risks. If there is any breach of Personal Data, we will notify you through our channels, whether directly or indirectly, to give you sufficient information regarding such breach of Personal Data. Following the notification, we will strive with our utmost best effort to recover the security of your Personal Data in our Site.</p><p class='title title--primary  mb-10'>Links to Other Websites</p><p class='body-text mb-25 pre-line '>Our Site may contain links to other websites of interest. However, once you have used these links to leave our Site, you should note that we do not have any control over that other website. Please note that we are not responsible for the privacy policy or practices of such other websites and advise you to read the privacy policy of each website you visit which collects your Personal Data.</p><p class='title title--primary  mb-10'>Registration and Memberships</p><p class='body-text mb-25 pre-line '>
                                    This Site allows you to create a user account based on the data you provide. By providing the data, registering, and creating your account, you warrant that: Information about you is true and accurate, current and complete as required in the registration form on the Site (the "Registration Data"); and
                                    You will update this Registration Data to keep it true, accurate and complete.
                                </p><p class='title title--primary  mb-10'>Miscellaneous</p><p class='body-text mb-25 pre-line '>
                                    Applicability: in the event of inconsistency between the Terms and Conditions and this Privacy Policy, then the provisions in this Privacy Policy will apply.
                                    Transfer of Business: in the event of change of control or ownership of GOGOJII 's business or group of companies, then the Personal Data collected in the Site may be part of transfer of the assets.
                                </p><p class='title title--primary  mb-10'>Our Contact</p><p class='body-text mb-25 pre-line '>
    If you have any questions or requests relating to this Privacy Policy, Please follow this contact details
    GOGOJII , Comanche Gogoji Co., Ltd.
    99/100 Soi Ngam Wong Wan 26, Lane 3 (Phongphet Pattana 2), Thung Song Hong, Lak Si, Bangkok 10210 Thailand
    Phone : +66 92 667 5444

    Email : <a href="mailto:mkt@gogojii.com">mkt@gogojii.com</a>
</p>
                            </div><!-- .static-content-card -->
                        }
                    </div> <!-- .col-lg-9-->
                </div>

            </div>
        </section>



    </main>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#mainScreen").removeClass("container");
            $("#mainScreen").addClass("site-content");
        });
    </script>
}